
/* DEBUG */
/*
#contentArea {
	outline: 1px solid red;
}
#carSelection {
	outline: 1px solid blue;
}
.formGroup .iconContainer {
	outline: 1px solid green;
}*/

/* Elements / Fonts */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	/* Gradient Background */
	/*background-size: 100%; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(170,170,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(170,170,170,1))) fixed; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */

	/* Font / Text */
	font-family: Arial;
	font-size: 12px;
	color: #555;
}
a, a:visited {
 	color: black; 
}

/* Layout */
#mainHeader {
	background: url("../img/logo.png") no-repeat left bottom;
	text-indent: -9999px;
	clear: both;
	width: 100%;
	height: 122px;
}
.container {
	min-width: 900px;
	min-height: 610px;
	height: 100%;
}
.headContainer {
	height: 20%;
	width: 100%;
}
#contentArea {
	height: 80%;
	float: left;
	width: 75%;
}
#carSelection {
	height: 80%;
	float: left;
	width: 23%;
	margin-left: 2%;
}
#carSelection .formGroup {
	margin: auto; 
	margin-top: 20px;
	min-width: 220px;
	width: 100%;
}

/* Theme & Widgets */
.formGroup label {
	color: #666;
	font-size: 13pt;
	clear: both;
	width: 100%;
	display: block;
}
.formGroup .textBorder {
	background: white;
	padding: 10px 10px;
	margin-top: 5px;
	/* Round Corners */
	border-radius: 15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border: 1px solid #D6D6D6;
}
.formGroup .textBorder input {
	width: 80%;
	border: none;
	outline: none;

}
.formGroup .textBorder input:focused {
	border: none;
	outline: none;
}
.formGroup ::-webkit-input-placeholder {
 	color: #e10; 
	font-weight: bold;
	font-size: 9.5px;
}
.formGroup :-moz-placeholder {  
 	color: #e10; 
	font-weight: bold;
	font-size: 9.5px;
}

.formGroup :-ms-input-placeholder {
 	color: #e10; 
	font-weight: bold;
	font-size: 9.5px;
}

.formGroup .iconContainer {
	height: 32px !important;
	width: 32px !important;
	margin-top: -2px;
	margin-right: -5px;
	float: right;
}

#carSelection .linkContainer {
	float: right;
	font-size: 10px;
}

#contentBorder {
	background: #FFF;
	width: 95%;
	height: 100%;
	min-height: 500px; 
	/* Round Corners */
	border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border: 1px solid #D6D6D6;
	margin-left: 3%;
	/* Drop Shadow  */
	-moz-box-shadow: 2px 2px 1px #AAA;
	-webkit-box-shadow: 2px 2px 1px #AAA;
	box-shadow: 2px 2px 1px #AAA;
}
.infoBubbleContainer {
	position: absolute;
	background: url('../img/infoCloud.png') no-repeat center;
	height: 185px;
	width: 285px;
}
	.infoBubbleContainer .icon {
		float: left;
		margin: 72px 0 0 45px;
	}
	.infoBubbleText {
		overflow: hidden;
		height: 100px;
		width: 140px;
		margin: 40px 0px 0px 85px;
	}
	.infoBubbleTextInner {
		height: 100px;
		display: table-cell;
		vertical-align: middle;
	}
	.infoBubbleTextInner .text {
		background: #ffffbe;
		font-size: 13px; 
		color: #333;
		font-weight: bold;
	}


/* Icons */
.icon {
	display: inline-block;
	height: 32px !important;
	width: 32px !important;
}

.iconCalloutLeft {
	background: url('../img/iconSet.png') -523px -5px;
}
.iconSuccess {
	background: url('../img/iconSet.png') -200px -5px;
}
.iconInformation {
	background: url('../img/iconSet.png') -135px 0px;
}
.iconAlert {
	background: url('../img/iconSet.png');
}
.iconError {
	background: url('../img/iconSet.png');
}

.iconMini {
	display: inline-block;
	height: 18px !important;
	width: 18px !important;
}

.iconMiniAdd {
	background: url('../img/iconSetMini.png') -5px 0px;
}

.iconMiniStar {
	background: url('../img/iconSetMini.png') -344px 0px;
}

