
/* DEBUG */
/*
#contentArea {
	outline: 1px solid red;
}
#carSelection {
	outline: 1px solid blue;
}
.formGroup .iconContainer {
	outline: 1px solid green;
}*/

/* Elements / Fonts */
html {
	height: 100%;
}


body {
	height: 100%;
	margin: 0;
	padding: 0;
	
	/* Gradient Background */
	/*background-size: 100%; */	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(170,170,170,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(170,170,170,1))) fixed; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(170,170,170,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */

	background-repeat: no-repeat;
	background-attachment: fixed;

	/* Font / Text */
	font-family: Arial;
	font-size: 12px;
	color: #555;
}
a, a:visited {
 	color: black; 
}

/* Layout */
#mainHeader {
	background: url("../img/logo.png") no-repeat left bottom;
	text-indent: -9999px;
	clear: both;
	width: 100%;
	height: 122px;
}
.container {
	min-width: 900px;
	min-height: 610px;
	height: 100%;
}
.headContainer {
	height: 20%;
	width: 100%;
}
#contentArea {
	height: 80%;
	float: left;
	width: 75%;
}
#carSelection {
	height: 80%;
	float: left;
	width: 23%;
	margin-left: 2%;
	display: none;
}
#carSelection .formGroup {
	margin: auto; 
	margin-top: 20px;
	min-width: 220px;
	width: 100%;
}

#carSelection .linkContainer {
	float: right;
	font-size: 10px;
}

#contentBorder {
	background: #FFF;
	width: 95%;
	height: 100%;
	min-height: 500px; 
	/* Round Corners */
	border-radius: 12px; 
	-moz-border-radius: 12px; 
	-webkit-border-radius: 12px; 
	border: 1px solid #D6D6D6;
	margin-left: 3%;
	/* Drop Shadow  */
	-moz-box-shadow: 2px 2px 1px #AAA;
	-webkit-box-shadow: 2px 2px 1px #AAA;
	box-shadow: 2px 2px 1px #AAA;
	padding: 0px 0px;
}

#loadingIndicator span {
	display: inline-block;
	background: url('../img/ajax-loader.gif') no-repeat left;
	padding-left: 45px;
	margin-top: 25%;
}

#loadingIndicator {
	font-size: 18pt;
	height: 100%;
	width: 100%;
	text-align: center;
	display: inline-block;
}

#graphCoordinates {	
	display: inline-block;
	float: right;
	height: 30px;
	position: absolute;
	padding-left: 65px;
	padding-top: 5px;
}
#graphCoordinates span {	
	font-size: 10pt;
}

#graphCanvas {
	cursor: crosshair;
}

/* Theme & Widgets */
.formGroup label {
	color: #666;
	font-size: 13pt;
	clear: both;
	width: 100%;
	display: block;
}

.entryItem .textBorder {
	background: white;
}

.formGroup .textBorder {
	padding: 10px 10px;
	margin-top: 5px;
	/* Round Corners */	
	border-radius: 15px; 
	-moz-border-radius: 15px; 
	-webkit-border-radius: 15px; 
	border: 1px solid #D6D6D6;
	height: 25px;
}
.formGroup .textBorder input {
	width: 80%;
	border: none;
	outline: none;
	vertical-align: middle;

}
.formGroup .textBorder input:focused {
	border: none;
	outline: none;
}
.formGroup ::-webkit-input-placeholder {
 	color: #FF8080; 
	font-weight: bold;
	font-size: 11.5pt;
}
.formGroup :-moz-placeholder {  
 	color: #FF8080; 
	font-weight: bold;
	font-size: 11.5pt;
}

.formGroup :-ms-input-placeholder {
 	color: #FF8080; 
	font-weight: bold;
	font-size: 11.5px;
}

.formGroup .iconContainer {
	height: 32px !important;
	width: 14%;
	margin-top: -2px;
	margin-right: -5px;
	float: right;
	text-align: center;
}

.infoBubbleContainer {
	position: absolute;
	background: url('../img/infoCloud.png') no-repeat center;
	height: 185px;
	width: 285px;
}
	.infoBubbleContainer .icon {
		float: left;
		margin: 72px 0 0 45px;
	}
	.infoBubbleText {
		overflow: hidden;
		height: 100px;
		width: 140px;
		margin: 40px 0px 0px 85px;
	}
	.infoBubbleTextInner {
		height: 100px;
		display: table-cell;
		vertical-align: middle;
	}
	.infoBubbleTextInner .text {
		background: #ffffbe;
		font-size: 13px; 
		color: #333;
		font-weight: bold;
	}

.entryField {
	background: white;
}

/* Icons */
.icon {
	display: inline-block;
	height: 32px;
	width: 32px;
}

.iconCalloutLeft {
	background: url('../img/iconSet.png') -523px -5px;
}
.iconSuccess {
	background: url('../img/iconSet.png') -200px -5px;
}
.iconInformation {
	background: url('../img/iconSet.png') -135px 0px;
}
.iconPlus {
	background: url('../img/iconSet.png') -10px -2px;
}
.iconX {
	background: url('../img/iconSet.png') -265px -2px;
}
.iconWarning {
	background: url('../img/iconSet.png') -328px 0px !important;
}

.iconMini {
	display: inline-block;
	height: 18px !important;
	width: 18px !important;
}

.iconMiniAdd {
	background: url('../img/iconSetMini.png') -5px 0px;
}

.iconMiniStar {
	background: url('../img/iconSetMini.png') -344px 0px;
}

.plotSelect {
	background: none;
	border: 1px solid gray;
	font-size: 12pt;
	width: 86%;
}

.button {
	height: 25px;
	text-align: left;
	vertical-align: middle;
	font-size: 12pt;
	border: 1px solid #333 !important;
	cursor: pointer;
}

.blueButton {
	color: #d9eef7;
	border: solid 1px ;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top, #00adee, #0078a5);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
	box-shadow: 3px 5px 2px 1px #888;
}

.blueButton:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}

.greenButton {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top, #7db72f, #4e7d0e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.greenButton:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top, #6b9d28, #436b0c);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

.buttonText {
	padding-top: 3px;
	text-align: center;
	font-weight: bold;
}

